<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img id="logo_img" src="systems/bliaron2e/assets/Bliaron_logo.png">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100" />
    </header>

    <section class="sheet-body">
        <div id="playerinformation" class="sheet_block">
            <div class="onethirdwidth generalinfo">
                <label for="name" class="header-label">Name</label>
                <input name="name"  type="text" value="{{name}}" />
            </div>
            {{#each system.generalinfo as |info key|}}
            <div class="onethirdwidth generalinfo">
                <label for="system.generalinfo.{{key}}.value" class="header-label">{{key}}</label>
                <input name="system.generalinfo.{{key}}.value"  type="text" value="{{info.value}}" />
            </div>
            {{/each}}
        </div>
        <div class="statcolumn">
            <div id="attributes" class="movingcolumn category">
                <h2>Attributes: </h2>
                {{#each system.attributes as |attribute key|}}
                    <div class="tablerow">
                        <label class="tablecell rollable" data-roll="{{attribute.currentsoul}}d10kh1" data-label="{{key}}" for="system.attributes.{{key}}.currentsoul"> {{attribute.text}} </label>
                        <input class="tablecell" type="number" name="system.attributes.{{key}}.currentsoul" value="{{attribute.currentsoul}}" min="0" max="5" data-dtype="Number" />
                        <input class="tablecell" type="number" name="system.attributes.{{key}}.maxsoul" value="{{attribute.maxsoul}}" min="0" max="5" data-dtype="Number" />
                    </div>
                {{/each}}
            </div>
            <div id="experience" class="movingcolumn category">
                <h2>Experience </h2>
                <div class="tablerow">
                    <label class="tablecell" for="system.experiencecurrent.value">Available</label>
                    <input class="tablecell" type="number" name="system.experiencecurrent.value"  value="{{system.experiencecurrent.value}}" data-dtype="Number" />
                </div>
                <div class="tablerow">
                    <label class="tablecell" for="system.experienceoverall.value">Overall</label>
                    <input class="tablecell" type="number" name="system.experienceoverall.value"  value="{{system.experienceoverall.value}}" data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="statcolumn">
            <div id="magicskills" class="movingcolumn category">
                <h2>Magic skills: </h2>
                {{#each system.magicskills as |magicskill key|}}
                    <div class="tablerow">
                        <label class="tablecell" for="system.magicskills.{{key}}.value"> {{key}}</label>
                        <input class="tablecell" type="number" name="system.magicskills.{{key}}.value" value="{{magicskill.value}}" min="0" max="10" data-dtype="Number" />
                    </div>
                {{/each}}
            </div>
            <div id="additionals" class="movingcolumn category">
                <h2>Additional stats </h2>
                {{#each system.additionals as |additional key|}}
                    <div class="tablerow">
                        <label class="tablecell" for="system.additionals.{{key}}.value">{{key}}</label>
                        <input class="tablecell" type="number" name="system.additionals.{{key}}.value"  value="{{additional.value}}" data-dtype="Number" />
                    </div>
                {{/each}}
            </div>
            <div id="hitpoints" class="movingcolumn category">
                <h2>Health </h2>
                <div class="tablerow">
                    <label class="tablecell" for="system.health.value">Hitpoints</label>
                    <div class="tablecell">
                    <input class="" type="number" name="system.health.value"  value="{{system.health.value}}" data-dtype="Number" />
                    /
                    <input class="" type="number" name="system.health.max"  value="{{system.health.max}}" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="statcolumn">
            <div id="skills" class="movingcolumn category">
                <h2>Skills: </h2>
                {{#each system.skills as |skill key|}}
                    <div class="tablerow">
                        <label class="tablecell" for="system.skills.{{key}}.value">{{key}}</label>
                        <input class="tablecell" type="number" name="system.skills.{{key}}.value"  value="{{skill.value}}" min="0" max="10" data-dtype="Number" />
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="flexparent">
            <div id="items" class="movingcolumn category">
                <h2>Items </h2>
                {{#each actor.equipments as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                    <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <span class="item-edit">{{item.name}}</span>
                    <a class="item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                {{/each}}
            </div>
            <div id="perks" class="movingcolumn category">
                <h2>Perks </h2>
                {{#each actor.perks as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                    <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <span class="item-edit">{{item.name}}</span>
                    <a class="item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                {{/each}}
            </div>
        </div>
        <div id="magics" class="movingcolumn category">
            <h2>Mastered Effects and Qualities </h2>
            {{#each actor.magics as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <span class="item-edit">{{item.name}}</span>
                <a class="item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
            {{/each}}
        </div>
    </section>
</form>
