<form class="{{cssClass}}" autocomplete="off">
    <header>
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
        <input name="name" type="text" value="{{name}}" />
    </header>
    <section class="item-body">
        {{!-- Description --}}
        <div>
            <h3>Description</h3>
            {{editor enrichedDescription target="system.description" button=true engine="prosemirror" collaborate=false}}
            {{#each system.details as |detail key|}}
                <div class="tablerow">
                    <label class="tablecell" for="system.details.{{key}}.value"> {{key}} </label>
                    <input class="tablecell" type="number" name="system.details.{{key}}.value" value="{{detail.value}}" data-dtype="Number" />
                </div>
            {{/each}}
        </div>
    </section>
</form>
