input[type="number"] {
    background: rgba(255,255,255,0.3);;
    border: 1px solid #404040;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 35px;
}

.editor {
    background: rgba(255,255,255,0.3);;
    border: 1px solid #404040;
    border-radius: 5px;
    height: 150px;
}

.item {
    list-style: none;
}

.item-img {
    vertical-align: middle;
}

.tox, .editor-content {
    height: 150px;
}

.tox-tinymce, .tox-toolbar-overlord {
    border-radius: 3px !important;
}

.tox-edit-area {
    padding: 4px;
    background: white;
}

.sheet_block {
    display: block;
}

.sheet-tabs {
}

.sheet-body {
}

#playerinformation {
    display: block;
}

.generalinfo {
    display: inline-block;
}

.tablerow {
    display: table-row;
}

.tablecell {
    display: table-cell;
    padding: 1px;
}

.onethirdwidth {
    width: 30%;
}

.textandnumber {
    display: block;
}

.statcolumn {
    display: inline-grid;
}

.category {
    margin: 5px;
}
